<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>613563500969-fj84l6mkga4q57fo2anrjhnnnqgqhlh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613563500969-fj84l6mkga4q57fo2anrjhnnnqgqhlh1</string>
	<key>API_KEY</key>
	<string>AIzaSyDD3sf0oag6F9SWV78X8eRHjEhlXseH7Cs</string>
	<key>GCM_SENDER_ID</key>
	<string>613563500969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.GymShare</string>
	<key>PROJECT_ID</key>
	<string>gym-share</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:613563500969:ios:8edc451d85a1725f</string>
	<key>DATABASE_URL</key>
	<string>https://gym-share.firebaseio.com</string>
</dict>
</plist>